* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

section>h2 {
    font-size: 2rem;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
}


/* Section 1 */
.section1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(3, 0, 12, 0.9), rgba(12, 3, 51, 0.3));
    background-size: 100% 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 32px;
    color: white;
    font-weight: bolder;
}

nav h1 span {
    color: orangered;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.227);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: 900;
}

.dropdown {
    display: none;
    position: absolute;
}

.drop-contain {
    display: none;
    position: relative;
    margin: 0rem -6rem;
    width: auto;
    background-color: white;
}

.drop-btn:hover~.drop-contain {
    display: flex;
    flex-direction: column;
}

.drop-contain:hover {
    display: flex;
}

.dropdown i {
    color: white;
    font-size: 2rem;
    margin: -1rem;
}

.drop-contain li {
    padding: 0.5rem;
}

.drop-contain a {
    color: black;
}

.content {
    text-align: center;
}

.content p {
    color: rgb(227, 224, 224);
    font-size: 18px;
    font-weight: 700;
    font-family: "Protest Strike", sans-serif;
}

.content h1 {
    color: rgb(227, 226, 226);
    font-size: 5rem;
    font-weight: 900;
    padding: 2rem 1rem;
}

.content h1 span {
    color: orangered;
}

.content a {
    text-decoration: none;
    font-size: 13px;
    background-color: orangered;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    color: white;
    font-weight: 300;
}

.black-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Section 2 */
.section2 {
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.section2 h2 span {
    color: orangered;
}

.section2 >img {
    height: 1rem;
    width: 3rem;
    margin: 1rem 0;
}

.section2 .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 4rem;
}

.section2  .box-contain {
    display: flex;
}

.section2  .box-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding: 1rem;
}

.section2 .box .box-text img {
    height: 7rem;
    width: 7rem;
    margin: 0 1rem;
}

.section2 .box .box-text p {
    margin: 1rem 0;
}

.section2 .box .box-text a {
    color: orangered;
    text-decoration: none;
}

/* Section 3 */
.section3 {
    border: 1px solid black;
    height: auto;
    margin: 5rem 0;
    padding: 5rem 2rem;
    background-image: url("assest/cta-bg.jpg");
    background-size: 100% 100%;
}

.section3 div {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white
}

.section3 div h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.section3 div h2 span {
    color: orangered;
}

.section3 div p {
    margin: 2rem;
    text-align: center;
}

.section3 div a {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 1rem 2rem;
}

/* Section 4 */
.section4 {
    /* height: 120vh; */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.section4 h2 span {
    color: orangered;
}

.section4 img {
    height: 1rem;
    width: 3rem;
    margin: 1rem 0;
}

.section4 p {
    margin: 2rem 0;
}

.section4>div {
    display: flex;
    text-align: left;
    width: 100%;
    gap: 5rem;
}

.sect4-div1 {
    width: 35%;
}

.sect4-div1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px rgb(231, 229, 229);
    padding: 0.5rem;
    margin: 1rem;
    height: 6rem;
    width: 100%;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 700;
}

.sect4-div1 .last {
    background-color: orangered;
    color: white;
}

.sect4-div1 div p {
    padding: 0 1rem;
}

.sect4-div2 {
    width: 65%;
}

.sect4-div2 img {
    height: 45%;
    width: 100%;
    border-radius: 10px;
}

.sect4-div2 h2 {
    margin: 1rem 0;
}

.sect4-div2 p {
    margin: 2rem 0;
}

.section4 div a {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 1rem 2rem;
}

/* Section 5 */
.section5 {
    background-image: url("assest/schedule-bg.jpg");
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
}

.section5 h2 span {
    color: orangered;
}

.section5 img {
    margin: 2rem;
}

.section5 .days {
    margin: 2rem 0;
}

.section5 .days a {
    padding: 1rem;
}

table,
td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 2.5rem 3rem;
}

.days {
    position: relative;
}

.days a:hover {
    background-color: orangered;
}

.monday:hover .mon {
    visibility: visible;
}

/* Section 6 */
.section6 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.section6 img {
    margin: 2rem;
}

.sect6-div {
    width: 100%;
    display: flex;
    margin: 2rem auto;
    justify-content: center;
}

.sect6-div>div {
    box-shadow: 1px 1px 5px 1px rgb(245, 212, 212);
    margin: 1rem;
    padding: 2rem;
    width: 25%;
}

.sect6-div img {
    align-items: center;
    margin: 0;
    width: 100%;
    height: 10rem;
}

.sect6-div .p {
    color: orangered;
}

.sect6-div p {
    margin: 0.5rem 0;
    color: gray;
}

.sect6-div h2 {
    margin: 0.5rem 0;
}

.sect6-div i {
    color: black;
    margin: 0.5rem 1rem 0.5rem 0;
}

.sect6-div a:hover {
    color: orangered;
}

/* Section 7 */
.section7 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.location iframe {
    height: 30rem;
    width: 40vw;
}

.sect7 {
    background-image: url("assest/contact-bg.jpg");
    height: 30rem;
    width: 50%;
}

.sect7-cont {
    height: 85%;
    width: 80%;
    margin: 2rem auto;
}

.sect7-count-text {
    padding: 1rem;
}

.sect7-count-text div {
    display: flex;
}

.sect7-count-text .name {
    margin-right: 0.5rem;
}

.sect7-count-text input {
    padding: 1rem;
    width: 100%;
    margin: 0.5rem 0;
    border-color: rgba(0, 0, 0, 0.092);
}

.sect7-count-text textarea {
    width: 100%;
    padding: 1rem;
    height: 45%;
    border-color: rgba(0, 0, 0, 0.092);
}

.sect7-count-text button {
    padding: 1rem;
    background-color: orangered;
    color: white;
    border: none;
    margin-top: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

@media screen and (max-width:1024px) {
    .sect6-div>div {
        width: 30%;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:425px) {
    
    .menu {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .section1 {
        height: 150vh;
    }

    nav h1 {
        margin: 1rem;
    }

    .content {
        margin-top: 2rem;
    }

    .section2 .box {
        gap: 0rem;
        margin: auto;
        width: 100%;
    }
    .section2 .box-contain{
        display: block;
    }
    .section2 .box-contain {
        /* width:100%; */
    }
    .section2 .box .box-text img {
        height: 60%;
        width: 60%;
        /* margin: 0 2rem; */
    }
    .section2 .box .box-text {
        text-align: center;
        margin: 1rem;
        flex-direction: column;
    }

    .section3 {
        margin: 0 auto;
        padding: 1rem 1rem;
        text-align: center;
    }

    .section3 div {
        width: 100%;
    }

    .section3 div h2 {
        width: 100%;
    }

    .sect4-div2 img {
        height: 15rem;
    }

    .section4>div {
        flex-direction: column;
        gap: 0;
    }

    .sect4-div1 .last {
        text-align: center;
    }

    .sect4-div1 {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(2, 50%);
        width: 90%;
    }

    .sect4-div1 .last{
        grid-column: 1/3;
    }
    .sect4-div2 {
        width: 100%;
    }

    .section5 {
        height: auto;
    }

    .section5 table {
        display: none;
    }

    .section5 .days a {
        padding: 0.5rem;
    }

    .sect6-div {
        flex-direction: column;
    }

    .sect6-div>div {
        width: 90%;
    }

    .sect6-div img {
        height: 15rem;
    }

    .sect6-div h2 {
        text-align: center;
    }

    .section6 p {
        text-align: center;
        width: 90%;
    }

    .section7 {
        flex-direction: column;
        gap: 2rem;
    }

    .location iframe {
        width: 100%;
    }

    .sect7 {
        width: 100%;
    }
}

/* Aspect ratio is generally used to determine the relative horizontal and vertical sizes of computer graphics. For example, if a computer graphic has an aspect ratio of 3:1, this means the width of the graphic is three times of the height of the image. 16:9 aspect ratio = 9 / 16 = 0.5625 = padding-top: 56.25% */
@media (min-aspect-ratio:16/9) {
    .black-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .black-video {
        width: auto;
        height: 100%;
    }
}